<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>googleMapsAPIKey</key>
	<string>AIzaSyB674PRDkSuHNmerNaIE4qXqDiM_UKGhxc</string>
	<key>googleDirectionsAPIKey</key>
	<string>AIzaSyAV_gx6LaCgHHhkziLJChx_D-Ozbl4iNrs</string>
	<key>googlePlacesAPIKey</key>
	<string>AIzaSyCkI4WUjptmSWSGd2oDmaE0KuH0t7F848s</string>
</dict>
</plist>
